body {
	margin: auto 0;
}

.main-nav {
	display: flex;
	list-style: none;
	font-size: 2em;
	margin: 0;
	background-color: green;
	border-radius: 5px;
}

li {
	padding: 20px;
}

a {
	text-decoration: none;
	color: white;
}

.push {
	margin-left: auto;
}

.blue {
	background-color: blue;
	color: white;
	border-radius: 3px;
	align-items: center;
}

.purple {
	background-color: purple;
	color: white;
	border-radius: 3px;


}

.orange {
	background-color: orange;
	color: white;
	border-radius: 3px;
}

@media only screen and (max-width: 600px) {
	.main-nav {
		font-size: 1em;
		padding: 0;
		background-color: darkgreen;
	}
}

.container {
	display: flex;
	align-content: center;
	justify-content: center;
	height: 50vh;
}

p {
	margin-left: 10vh;
	padding: 130px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box > img {
	width: 100%;
}

.box {
	background-color: #444;
	padding: 130px;
	margin-top: 20px;
}

footer {
	text-align: center;
}